.body{
    background-image: url(https://cdn.impactinit.com/cdn/x/x@f37db56f77/smss53/smsimg27/pv/isignstockcontributors/iss_7938_08220.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ta{
    width: 70%;
    height: 30%;
    background-color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.i{
    margin-left: 230px;
}
ul{
    margin-left: 290px;
}
.tt{
    width: 70%;
}
.rr{
    width: 80%;
}
button{
    background-color: red;
    color: white;
}