.body{
    background-image: url(https://www.teahub.io/photos/full/318-3186506_apple-september-12-event-wallpaper-september-12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ta{
    width: 70%;
    height: 30%;
    background-color: cyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
} 
.i{
    margin-left: 230px;
}
ul{
    margin-left: 290px;
}
